node_modules/

# Environment files
.env
.env.*

# Editor directories
.vscode/



# Logs
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Optional: lockfile (uncomment if you want to ignore it)
# package-lock.json